## Build generated
./build
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# AppCode
.idea/

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
*.bcsymbolmap
*.dSYM
/Carthage/Checkouts
/Carthage/Build/iOS/AtlasUI.framework
/Carthage/Build/iOS/AtlasSDK.framework

# Temporary files
.rake_tasks
*.sw[po]
.DS_Store

# Local caches
xcov_report
/.bundle
/vendor
/AtlasDemo/Pods
