.DS_Store

## Build generated
./build
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# AppCode
.idea/

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
Carthage/Checkouts
*.bcsymbolmap
*.dSYM

fastlane/report.xml
fastlane/screenshots

.rake_tasks
*.sw[po]
.DS_Store
xcov_report
