# Tests

github "Quick/Quick"
github "Quick/Nimble"

# AtlasMockAPI

github "httpswift/swifter" "stable"

# AtlasDemo

github "Haneke/HanekeSwift"
github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire"
